.git/*
/api-firebird/.env
/api-firebird/node_modules/*
/api-firebird/.vscode
/api-firebird/uploads/*
/api-firebird/node_modules/*

/api-mysql/.env
/api-mysql/node_modules/*
/api-mysql/.vscode
/api-mysql/uploads/*
/api-mysql/node_modules/*
